<div class=" container mt-4">


<div class="row  ">
  <div class="col  ">
    
    <div class="card my-auto  col-lg-9 mx-auto col-sm-2 flex align-items-center gap-4" >

    <h1 class="text-center mt-5">Frequently Asked Questions</h1>
    <p>Lorem ipsum dolor sit amet.</p>

      <p-panel class="m-2 i" [header]="header" [toggleable]="true">
        <p>
        </p>
      </p-panel>
      <p-panel class="m-2 i" [header]="header" [toggleable]="true">
        <p>
        </p>
      </p-panel> 
      <p-panel class="m-2 i" [header]="header" [toggleable]="true">
        <p>
        </p>
      </p-panel> 
      <p-panel class="m-2 mb-5 i" [header]="header" [toggleable]="true">
        <p>
        </p>
      </p-panel>
    </div>

  </div>
</div>  
</div>